name: CI

on:
  pull_request:

  push:
    branches: [master]

jobs:
  # linting:
  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: actions/checkout@v1

  #   - name: Set up Ruby 2.7
  #     uses: ruby/setup-ruby@v1
  #     with:
  #       ruby-version: 2.7
  #       bundler-cache: true

  #   - name: Rubocop
  #     run: bundle exec rubocop --format progress

  build:
    # When we have linting, this is where we will place that
    needs: []
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - 2.6
          - 2.7
          - '3.0'
          - 3.1
          - jruby-9.2
          - jruby-9.3

    steps:
    - uses: actions/checkout@v1
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true # 'bundle install' and cache
    - name: Test
      run: bundle exec rake
